@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 font-sans text-slate-800;
}

a {
  @apply text-sky-600 underline-offset-4 transition hover:text-sky-700 hover:underline;
}

